<?xml version="1.0"?>

<config>
    <modules>
        <Havchik_Cart>
            <version>0.1.0</version>
        </Havchik_Cart>
    </modules>
    <frontend>
        <layout>
            <updates>
                <havchikcart>
                    <file>havchik_cart.xml</file>
                </havchikcart>
            </updates>
        </layout>
        <routers>
            <havchikcart>
                <use>standard</use>
                <args>
                    <module>Havchik_Cart</module>
                    <frontName>cart</frontName>
                </args>
            </havchikcart>
        </routers>
    </frontend>
    <global>
        <blocks>
            <havchikcart>
                <class>Havchik_Cart_Block</class>
            </havchikcart>
        </blocks>
        <models>
            <havchikcart>
                <class>Havchik_Cart_Model</class>
                <resourceModel>havchikcart_resource</resourceModel>
            </havchikcart>
            <havchikcart_resource>
                <class>Havchik_Cart_Model_Resource</class>
                <entities>
                    <table_cart>
                        <table>havchik_cart_entities</table>
                    </table_cart>
                </entities>
            </havchikcart_resource>
        </models>
        <resources>
            <havchikcart_setup>
                <setup>
                    <module>Havchik_Cart</module>
                </setup>
            </havchikcart_setup>
        </resources>
    </global>
</config>
